#circle-menu {
  margin: 0;
  padding: 0px 0px 11px 0px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  z-index: 333;
  position: absolute;
  display: none;
  font-size: 15px;
}

#circle-menu li {
  display: block;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 18px;
}

#circle-menu li a {
  color: red;
  text-decoration: none;
}

#circle-menu li a:hover {
  color: black;
  text-decoration: underline;
}

#circle-menu li#circle_clip_grid_circle a {
  color: black;
  font-weight: bold;
  cursor: default;
}
#circle-menu li#circle_clip_grid_circle a:hover {
  text-decoration: none;
}
